# Chacing selama 24 jam
<filesMatch ".(css|js|ico|woff2)$">
Header set Cache-Control "max-age=86400, public"
Header set Access-Control-Allow-Origin *
</filesMatch>

RewriteEngine on
RewriteCond $1 !^(index\.php|assets|upload|robots\.txt)
RewriteRule ^(.*)$ /ukp/index.php/$1
